.id-card {
  margin-top: -80px;
  position: relative;
}

a[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#d-png {
  position: absolute;
  top: -50px;
  right: 0px;
  color: #145189;
}

.anleitung a {
  text-decoration: dotted;
  color: #fff;
}
.anleitung a:hover,
.anleitung a:focus,
.anleitung a.active,
.anleitung a.disabled {
  text-decoration: unterline;
  color: #fff;
}

#d-pdf {
  position: absolute;
  top: -50px;
  right: 35px;
  color: #145189;
}

.avatar {
  display: inline-block !important;
  overflow: hidden;
}

.avatar img {
  border: 1px solid #ddd;
}

.avatar-position {
  position: relative !important; 
}

.avatar-overlay {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.avatar-overlay i {
  font-size: 30px;
  display: none;
}

.spinner-border {
  display: none;
}

/* Inputfelder verstecken und per JS auslösen */

input#file {
  display: none;
}

.qr-code {
  background: white;
}

#qco {
  width: auto;
}

.anleitung {
  margin-left: 10px;
}

.anleitung ol {
  margin: none;
  padding-left: 1rem;
}

.sec {
  background: #145189;
}

.btn-primary {
  background: #145189;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active {
  background: #2970a5;
  border: none;
}

footer p a {
  color: grey;
  text-decoration: none;
}
