.id-card {
  margin-top: -80px;
  position: relative;
}

#d-png {
  position: absolute;
  top: -50px;
  right: 0px;
  color: #145189;
}

#d-pdf {
  position: absolute;
  top: -50px;
  right: 35px;
  color: #145189;
}

.qr-code {
  background: white;
}

#qco {
  width: auto;
}

.anleitung {
  margin-left: 10px;
}

.anleitung ol {
  margin: none;
  padding-left: 1rem;
}

.sec {
  background: #145189;
}

.btn-primary {
  background: #145189;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active {
  background: #2970a5;
  border: none;
}

footer p a {
  color: grey;
  text-decoration: none;
}
