* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  width: 100%;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}

header p a,
header p a:hover,
header p a:focus,
header p a:active {
  color: #000;
}

body.valid #gdat-response {
  color: #05b936;
}

body.invalid #gdat-response {
  color: #ff3131;
}

.viewVerification {
  width: 300px;
  padding: 0px;
  z-index: 100;
  margin: auto;
}

.viewVerification p {
  margin: 0px;
  line-height: 1.2;
}

.veri {
  width: 100%;
  background: green;
  color: #fff;
  padding: 10px;
  padding-bottom: 12px;
}

.valid .veri {
  background: green;
}

.invalid .veri {
  background: red;
}

.box {
  background: #fff;
  border: 2px solid;
}

.valid .box {
  border-color: green;
}

.invalid .box {
  border-color: red;
}

.userData {
  padding: 10px;
}

.item {
  font-size: 14px;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
}

.itemVal {
  margin-bottom: 1px;
}

body.valid .bi-check2-circle {
  font-size: 4rem;
  color: #fff;
  line-height: 1.2;
}

body.invalid .bi-x-circle-fill {
  font-size: 4rem;
  color: #fff;
  line-height: 1.2;
}

div.d {
  font-style: italic;
}

@media (min-width: 576px) {
  body {
    height: 100vh;
  }

  body.invalid {
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 49, 49, 1) 95%
    );
    border: 0 none;
  }

  body.valid {
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(5, 185, 54, 0.427608543417367) 100%
    );
    border: 0 none;
  }

  .underage {
    padding-right: 20px;
    text-align: right;
  }
}

@media (max-width: 576px) {
  .shadow-lg {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .headline {
    margin-top: 60px;
  }

  body {
    height: calc(var(--vh, 1vh) * 100);
  }
}
